{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Etab - Ajouter Professeur</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
</head>
<body>
<div class="dashboard">
    {% include 'menu.html' %}

    <main>
        <a href="{% url 'teacher:index' %}" class="return"><i class="fas fa-arrow-left"></i>Retour</a>

        <h2>Ajouter professeur</h2>
        <form>
            <div>
                <input type="text" placeholder="Nom">
                <select>
                    <option> Selectionnez une matière</option>
                    <option>Math</option>
                    <option>Physique</option>
                    <option>EPS</option>
                    <option>Anglais</option>
                    <option>SVT</option>
                    <option>Philosophie</option>
                    <option>Français</option>
                </select>
            </div>
            <div>
                <input type="text" placeholder="Prénoms">
                <input type="number" placeholder="Téléphone">
            </div>
            <div>
                <label><input type="radio" name="genre" value="Homme"> Homme</label>
                <label><input type="radio" name="genre" value="Femme"> Femme</label>
            </div>
            <div>
                <input type="date" placeholder="Date de naissance">
                <input type="text" placeholder="Ville">
            </div>
            <div>
                <button type="button" >Annuler</button>
                <button type="submit">Enregistrer</button>
            </div>
        </form>
    </main>
</div>
</body>
</html>