{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Mon Etab - {% if form.instance.pk is  None %}Ajouter{% else %}Modifier{% endif %} Professeur</title>
{% endblock %}
{% block content %}

        <main>
            <a href="{% url 'teacher:index' %}" class="return"><i class="fas fa-arrow-left"></i>Retour</a>

            <h2>{% if form.instance.pk is not None %}Modifier professeur {% else %} Ajouter professeur{% endif %}</h2>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.last_name }}
                    {{ form.subject_taught }}

                </div>
                <div>
                    {{ form.first_name }}
                    {{ form.phone }}

                </div>
                <div>
                    {{ form.gender }}
                </div>
                <div>
                    {{ form.birth_date }}
                    {{ form.city }}
                </div>  
                <div>
                    {% if form.instance.pk is  None %}<button type="reset" style="background-color: red;" >Annuler</button>{% endif %}
                    <button type="submit">{% if form.instance.pk is  None %} Enregistrer{% else %} Enregistrer modification {% endif %}</button>
                </div>
            </form>
        </main>
{% endblock %}