{% extends 'base.html' %}
{% load static %}

{% block title %}    <title>Mon Etab - Élèves</title> {% endblock %}

{% block content %}
    <div class="dashboard">
        {% include 'menu.html' %}

        <main>
            <h2>Élèves (2)</h2>
            <a href="{% url 'student:add' %}" style=" text-decoration: none; color: black;position: absolute; top: 5rem; right: 3rem;">
                <i class="fa-solid fa-circle-plus"></i>Nouveau élève
            </a>
            <table id="table">
                <thead>
                <tr>
                    <th>Nom & Prénom</th>
                    <th>Genre</th>
                    <th>Classe</th>
                    <th>Matricule</th>
                    <th>Âge</th>
                    <th>Téléphone</th>
                    <th>Ville</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>KOFFI George</td>
                    <td>M</td>
                    <td>Tle</td>
                    <td>GJ/700DD</td>
                    <td>25</td>
                    <td>0123456789</td>
                    <td>Bonoua</td>
                    <td><a href="{% url 'student:edit' 1 %}"><button type="button" style="background-color: orangered; color: black;">Modifier</button></a> <button class="deleteButton" style="background-color: red; color: black;">Supprimer</button></td>
                </tr>
                <tr>
                    <td>KONE Sali</td>
                    <td>F</td>
                    <td>2nd</td>
                    <td>GJ/700CD</td>
                    <td>22</td>
                    <td>0123456789</td>
                    <td>Abidjan</td>
                    <td><a href="{% url 'student:edit' 1 %}"><button type="button" style="background-color: orangered; color: black;">Modifier</button></a> <button class="deleteButton" style="background-color: red; color: black;">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
    </body>

    <div class="alert">
        <p>ATTENTION !!</p>
        <p>Voulez-vous vraiment supprimer cet éleve?</p>
        <button id="confirmDelete">Oui</button>
        <button id="cancelDelete">Non</button>
    </div>
{% endblock %}