{% extends 'base.html' %}
{% load static %}

    {% block title %}<title>Mon Etab - Ajouter un Élève</title> {% endblock %}
{% block content %}
<div class="dashboard">
    {% include 'menu.html' %}
    <main>
        <a href="{% url 'student:index' %}" class="return"><i class="fas fa-arrow-left"></i>Retour</a>

        <form>
            <h2>Ajouter un élève</h2>
            <div>
                <input type="text" placeholder="Nom">
                <select>
                    <option> Selectionnez une classe</option>
                    <option>Tle</option>
                    <option>1ère</option>
                    <option>2nde</option>
                    <option>3ème</option>
                    <option>4ème</option>
                    <option>5ème</option>
                    <option>6ème</option>
                </select>
            </div>
            <div>
                <input type="text" placeholder="Prénoms">
                <input type="number" placeholder="Téléphone">
            </div>
            <div>
                <label><input type="radio" name="genre" value="Homme"> Homme</label>
                <label><input type="radio" name="genre" value="Femme"> Femme</label>
            </div>
            <div>
                <input type="text" placeholder="Matricule">
                <input type="text" placeholder="Ville">
            </div>
            <div style="grid-column: span 1">
                <input type="date" placeholder="Date de naissance">
            </div>
            <div>
                <button type="button" >Annuler</button>
                <button type="submit">Enregistrer</button>
            </div>

        </form>
    </main>
</div>
{% endblock %}