{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Mon Etab - Utilisateurs</title>
{% endblock %}

{% block content %}
<div class="dashboard">
    {% include 'menu.html' %}

    <main>
        <h2>Utilisateurs (2)</h2>
        <a href="{% url 'user:add' %}" style=" text-decoration: none; color: black;position: absolute; top: 5rem; right: 3rem;">
            <i class="fa-solid fa-circle-plus"></i>Nouveau utilisateur
        </a>
        <table id="table">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>admin</td>
                <td>16/08/2024</td>
                <td><a href="{% url 'user:edit' 1 %}"><button type="button" style="background-color: orangered; color: black;">Modifier</button></a></td>
            </tr>
            <tr>
                <td>user2</td>
                <td>13/08/2024</td>
                <td><a href="{% url 'user:edit' 1 %}"><button type="button" style="background-color: orangered; color: black;">Modifier</button></a></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
{% endblock %}