{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Mon Etab - Modifier Utilisateur</title>{% endblock %}

{% block content %}
    <div class="dashboard">
        {% include 'menu.html' %}

        <main>
            <a href="{% url 'user:index' %}" class="return"><i class="fas fa-arrow-left"></i>Retour</a>
            <h2 style="text-align: center;">Modifier l'utilisateur - 45678</h2>
            <form>
                <div>
                    <input type="text" placeholder="Pseudo" value="admin">
                </div>
                <div>
                    <input type="password" placeholder="ancien mot de passe">
                </div>
                <div>
                    <input type="password" placeholder="Nouveau mot de passe">
                </div>
                <div>
                    <input type="password" placeholder="Confirmer mot de passe">
                </div>
                <button type="button">Annuler</button>
                <button type="submit">Enregistrer</button>
            </form>
        </main>
    </div>
{% endblock %}