{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Mon Etab - Tableau de Bord</title> {% endblock %}
{% block content %}
    <div class="dashboard">
        {% include 'menu.html' %}
        <main>
            <h2>Tableau de bord</h2>
            <div class="cards">
                <div class="card">
                    <h3>Nombre d'élève</h3>
                    <p style="font-size: 50px;">128 100</p>
                </div>
                <div class="card">
                    <h3>Nombre de professeur</h3>
                    <p style="font-size: 50px;">128 100</p>
                </div>
                <div class="card">
                    <h3>Nombre d'utilisateur</h3>
                    <p style="font-size: 50px;">128 100</p>
                </div>
                <div class="card">
                    <h3>Élève par genre</h3>
                    <div class="chart">
                        <div style="height: 200px;">
                            <canvas id="genderChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </body>
    </html>

{% endblock %}