<aside>
    {% url 'dashboard:index'  as dashboard_url %}
    {% url 'student:index'  as eleve_url %}
    {% url 'student:add'  as eleve_add_url %}
    {% url 'student:edit'  as eleve_edit_url %}

    {% url 'teacher:index'  as professeur_url %}
    {% url 'teacher:add'  as professeur_add_url %}
    {% url 'teacher:edit'  as professeur_edit_url %}
    {% url 'user:index'  as utilisateur_url %}
    {% url 'user:edit'  as utilisateur_edit_url %}
    {% url 'report:index'  as rapport_url %}

    <h2><i class="fas fa-leaf"></i>Mon Etab</h2>
    <nav>
        <ul>
            <li {% if request.path == dashboard_url %} class="active" {% endif %}><i class="fas fa-grip-horizontal"></i><a href="{% url 'dashboard:index' %}"> Tableau de bord </a></li>
            <li {% if request.path == eleve_url  or request.path == eleve_edit_url or request.path == eleve_add_url %} class="active" {% endif %}><i class="fi fi-rs-users-class"></i><a href={% url 'student:index' %}> Élèves</a></li>
            <li {% if request.path == professeur_url or request.path == professeur_add_url or request.path == professeur_edit_url %} class="active" {% endif %}><i class="fas fa-chalkboard-teacher"></i><a href={% url 'teacher:index' %}> Professeurs</a></li>
            <li {% if request.path == utilisateur_url or request.path == utilisateur_edit_url %} class="active" {% endif %}><i class="fa-regular fa-user"></i> <a href={% url 'user:index' %}> Utilisateurs</a></li>
            <li {% if request.path == rapport_url %} class="active" {% endif %}><i class="fas fa-file-alt"></i><a href={% url 'report:index' %}> Rapport</a></li>

        </ul>
    </nav>
    <a href={% url '' %}>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>Déconnexion
    </a>
</aside>